# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_FROM=Bengal Tourism <your-email@gmail.com>

# Book-Tour API Configuration
TOUR_EMAIL_HOST=smtp.gmail.com
TOUR_EMAIL_PORT=587
TOUR_EMAIL_USER=your-booking-email@gmail.com
TOUR_EMAIL_PASS=your-app-password
TOUR_EMAIL_FROM=Bengal Tourism Tours <your-booking-email@gmail.com>

# Book-membership API Configuration
MEMBER_EMAIL_HOST=smtp.gmail.com
MEMBER_EMAIL_PORT=587
MEMBER_EMAIL_USER=your-member-email@gmail.com
MEMBER_EMAIL_PASS=your-app-password
MEMBER_EMAIL_FROM=Bengal membership Tours <your-member-email@gmail.com>
